Welcome to this apache server.
Deployment Version: {{ deployment_version }} <br>
Machine: "{{ ansible_facts['fqdn'] }}"
OS: "{{ ansible_facts['distribution'] }}"
RAM: "{{ ansible_facts['memtotal_mb'] }}" MB
